# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
.env

# Distribution / packaging
build/
dist/
*.egg-info/

# Environment variables
.env

# IDEs and editors
.vscode/
.idea/

# Logs
*.log

# Jupyter Notebook
.ipynb_checkpoints/
test-trans-ctx_transcription.txt
testdata/test-trans-ctx.m4a
test-trans-ctx_transcript.json
test-trans-ctx_transcription-v2.txt
test-trans-ctx_transcription.srt
